<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:include="../fragments/template :: head(~{::title})">
    <title>Renommer la Colonne</title>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Renommer la Colonne</h1>

    <form th:action="@{/board/columns/{id}(id=${column.id})}" method="post" accept-charset="UTF-8">
        <div class="mb-3">
            <label for="colTitle" class="form-label">Titre de la Colonne</label>
            <input type="text"
                   class="form-control"
                   id="colTitle"
                   name="title"
                   th:value="${column.title}"
                   required
                   maxlength="50">
        </div>
        <div class="mb-3">
            <label for="wipLimit" class="form-label">Limite de stories</label>
            <input type="number"
                   class="form-control"
                   id="wipLimit"
                   name="wipLimit"
                   min="0"
                   th:value="${column.wipLimit}">
            <div class="form-text">
                Laissez vide ou mettez 0 pour ne pas limiter cette colonne.
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a th:href="@{/board}" class="btn btn-secondary">Annuler</a>
    </form>

</div>
<div th:replace="../fragments/template :: footer"></div>
</body>
</html>